/* reset */
* {
    box-sizing: border-box;
    margin: 0;
}

/* première section:  */
.big-title {
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    color: #ff5656;
    font-size: 40px;
    margin-bottom: -0.5rem;
}

.job {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 28px;
}

a,a:visited,a:hover,a:active{
    position:relative;
    transition:0.5s color ease;
    color:#ffffff !important;
    text-decoration: none !important;
}

a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    position:absolute;
}

a.before:before{
    top:-0.25em;
}
a.after:after{
    bottom:-0.25em;
}
a.before:before,a.after:after{
    height:0.15rem;
    width:0;
    background:#ff5656;
}
a.tel:before, a.mail:before, a.adress:before, a.social:before{
    right:0;
}
a.tel:after, a.mail:after, a.adress:after, a.social:after{
    left:0;
}
a.before:hover:before,a.after:hover:after{
    width:100%;
}
  
.main {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    color:#ff5656;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-left: 0em;
    /* border: 4px solid blue; */
}

.main  a {
    color:#ffffff;
}

.fas, .fab {
    color:#ff5656;
    margin-right: 1rem;
    margin-top: 1rem;
}

.fa-circle {
    font-size: small;
}
/* .fa-undo { */
    /* margin-top: 0em;
    margin-right: 0rem;
    margin-left: -2rem;
    color: black;
    font-size: 2rem; */

.contact {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #ff5656;
    font-size: 21px;
    /* border: 4px solid green; */
}

#top-page {
    /* background-image: linear-gradient(to bottom, #000, #0008), url(); */
    background-size: cover;
    height: 30vh;
}

header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.menu {
    margin-right: 20px;
    margin-top: 0.5rem;
    /* border: 2px solid yellow; */
    
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 2rem;
}

.content {
    display: flex;
}

#identity {
    width: 40vw;
    background-color:#d6d6d6;
    padding: 0px 20px 20px 20px;
}
.compétences {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.graph-test {
    display: flex;
    justify-content: space-evenly;
}

.graph1 {
    width: 20px;
    height: 100px;
    background-color: #ff5656;
    margin-right: 10px;
}

.graph2 {
    width: 20px;
    height: 100px;
    background-color: #ff5656;
}

.graph3 {
    width: 20px;
    height: 100px;
    background-color: #ff5656;
}

.graph4 {
    width: 20px;
    height: 100px;
    background-color: #ff5656;
}

.graph5 {
    width: 20px;
    height: 100px;
    background-color: #ff5656;
}

#identity h2, #xp h2 {
    color: #ff5656;
    font-family:'Raleway', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
}
 
#xp {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border: 4px solid black; */
}

.xp1, .xp2, .xp3, .xp4 {
    width: 700px;
}

 #xp div {
     margin-bottom: 4rem;
 }

 h4 {
     text-transform: capitalize;
     font-family: 'Montserrat', sans-serif;
 }

 h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #ff5656;
 }
 .test {
     margin-top: -1.6rem;
 }
 
 #identity ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding-left: 0em;
    
 }

 .profil p {
    font-family: 'Montserrat', sans-serif;
 }

.profil h2, .form-title {
     margin-bottom: 1rem;
     margin-top: 1rem;
 }

 .form {
     margin-bottom: 1rem;
     margin-left: 1rem;
     
 }

 #xp p {
    font-family: 'Montserrat', sans-serif;
 }

 #xp h2 {
     margin-bottom: 1rem;
 }

 .date-title, .job-title {

    margin-left: 2rem;
 }

 video {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 30vh;
    min-width: 100%;
    /* min-height: 100%; */
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }

  .formation{
      border-left: 6px solid white;
  }

  .form-circle {
      margin-left: -1.6rem;
  }